@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('averta-family.zip');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
html, body {
    overflow-x: hidden; 
    width: 100%; /* Adjust to fill the space */
}

.sidebar {
    display: none !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}
/* STYLE */

/* HEADER */
.container-color1{
    background-color: white;
}

.container-color1>.header {
    margin: 0 auto;
    max-width: 100%;
    min-height: 85px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 15px;
}

ul {
    order:2;
    gap: 0px;
    opacity: 0px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    color: rgb(9, 9, 9);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 8px;
}

.header a{
    padding: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
}

/* Default styles for the burger menu (hidden on larger screens) */
.burger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.burger-menu span {
    background-color: #2e3589;
    height: 3px;
    width: 100%;
}

.logo {
    font-family: 'Montserrat';
    font-size: 20px;
}
ul a:hover {
    color: rgb(49, 21, 189);
    transition: 0.3s;
    font-weight: bold;
}

.logo:hover{
    color: rgb(171, 130, 26);
    transition: 0.3s;
    font-weight: bold;

}


.header span {
    font-weight: bolder;
}

/* END HEADER */

.container-color2 {
    background-color: white;
}

.container2 {
    margin: 0 auto;
    min-height: 80%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    position: relative;
}

.news {
    padding: 20px;
    margin-top: 10px;
    max-width: 400px;
    min-height: 327px;
    top: 208px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h1 {
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 50px;
    text-align: left;
    color: rgb(7, 7, 7);
    font-weight: bolder;
}


h3 {
    font-family: 'Montserrat';
    font-size: 17px;
    line-height: 20px;
    text-align: left;
    color: rgb(7, 7, 7);
    font-weight: bolder;
}
.news > p {
    margin-bottom: 23px;
}
p {
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 400;
    line-height: 20.88px;
    text-align: left;
    color: rgb(16, 16, 16);
}
.imagenes {
    position: relative;
    width: 100%;
    height: 500px !important;

}
.img1 {
    position: absolute;
    width: 100%;
    height: 412px;
    border-bottom-left-radius: 200px; /* Adjust the value as needed */
    z-index: 2;
    object-fit: cover;
}

.ellipse {
    z-index: 1;
    width: 129px;
    height: 129px;
    position: absolute;
    float: left;
    transform: translateX(-75px);
}

.rect23 {
    z-index: 1;
    width: 178px;
    height: 178px;
    border-radius: 0px 0px 100px 0px;
    position: absolute;
    transform: translate(540px,300px);
    float: right;
}

/* MODAL INIT */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(85, 71, 187, 0.6); /* Black w/ opacity */
    margin: 0% auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
}

#openModalBtn:hover{
    background-color: rgb(124, 124, 208);
    font-weight: bolder;
    transition: 0.3s;
}

#openModalBtn{
    max-width: 215px;
    min-height: 65px;
    background-color: rgba(38,57,237,1);
    border-radius: 60px;
    color: white;
    font-family: 'Montserrat';
    font-size: 17px;
    letter-spacing: 6.5%;
    font-weight:600;
}

#msgus , #msgem {
    margin: 0 auto;
    display: none;
}

/* Modal content box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

label{
    font-family: 'Montserrat';
    line-height: 2;
    color: darkslategray;
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.modal>.modal-content>.butons>button{
    background-color: rgba(38,57,237,1);
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat';
    font-size: 17px;
    letter-spacing: 6.5%;
    font-weight:600;
    padding: 7px;
}

.modal>.modal-content>.butons>button:hover{
    background-color: rgb(124, 124, 208);
    font-weight: bolder;
    transition: 0.3s;
}

input{
    width: 40%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

/* Close button (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(51, 54, 216);
    text-decoration: none;
    cursor: pointer;
}

/* MODAL END */


.container3{
    background-color: white;
}

.container3 {
    margin: 0 auto;
    max-width: 100%;
    min-height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    column-gap: 25px;
    padding: 25px;
}

.container3>ul {
    column-gap: 40px;
    padding-top: 2px;
}

.container4 {
    margin: 0 auto;
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
    padding: 20px;
}

.help{
    width: 35%;
    text-align: center;
}

.help h1,.help p {
    z-index: 1;
    position: relative;
}
.aos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80%;
    width: 60%;
    gap: 20px;
    float: right;
    position: relative;
    z-index: 1;
}

.aosslides{
    width: 308px;
    height: 379px;
    border-radius: 40px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.aosslides >h2, .aosslides>p {
    z-index: 1;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: 'Montserrat';
}

.aosslides >h2{
    transform: translateY(60px);
}

.rect25 {
    width: 175px;
    height: 175px;
    transform: translate(-140px,120px);
    z-index: 0;
    position: relative;
}

.rect24 {
    width: 1000px;
    height: 619px;
    border-radius: 150px 0px 0px 0px;
    position: relative;
    z-index: 0;
    transform: translate(350px,-200px);
}

.abajo{
    margin-top: 70px;
}

.rect28{
    z-index: 0;
    width: 120px;
    height: 120px;
    position: absolute;
    transform: translateY(-120px);
    background-color: rgba(241, 247, 255, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectyellow{
    z-index: 0;
    width: 120px;
    height: 120px;
    position: absolute;
    transform: translateY(-120px);
    background: rgba(255, 247, 227, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectpink{
    z-index: 0;
    width: 120px;
    height: 120px;
    position: absolute;
    transform: translateY(-120px);
    background: rgba(255, 242, 248, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectvert{
    z-index: 0;
    width: 120px;
    height: 120px;
    position: absolute;
    transform: translateY(-120px);
    background: rgba(222, 255, 238, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group70{
    transform: translateY(-290px);
}

.boxse{
    z-index: 0;
    width: 74px;
    height: 74px;
    position: absolute;
}

.ellipse87{
    z-index: 0;
    width: 120px;
    height: 120px;
    position: relative;
    transform: translate(270px,-120px);
}

/* container5 */

.container5 {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
}
.video{
    width: 50%;
}
.videor{
    z-index: 1;
    border-radius: 20px;
    box-shadow: 4px 4px 24px ;
    position: relative;
    width: 100%;
}

.rect26 {
    width: 175px;
    height: 175px;
    z-index: 0;
    position: relative;
}

.contain5{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
}

.contain5>h1 {
    z-index: 1;
    transform: translate(50px,-125px);
}

.contain5>p{
    transform: translateY(-60px);
    padding-left: 25px;
}

.circle{
    z-index: 0;
    position: relative;
    width: 130px;
    height: 130px;
    background: rgba(255, 245, 219, 1);
    border-radius: 50%;
    transform: translate(495px,-65px);
}

.container6{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 130px 400px;
    gap: 20px;
}

.titre{
    z-index: 1;
    position: relative;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titre>h1 ,.titre>p{
    transform: translateY(70px);
}

.ellipse872{
    width: 120px;
    transform: translate(-450px,350px);
}

.img71{
    padding: 20px;
    object-fit: contain;
    max-height: 500px;
    min-width: 600px;
    transform: translateY(-55px);
}

/* swipper */

.swiper {
    z-index: 1;
    position: relative;
    width: 700px;
    height: 380px;
    grid-column: 1 / 3;
    padding: 15px;
}

.flexslide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.client1{
    z-index: 1;
    transform: translateY(27px);
    width: 365px;
    margin-right: 20px;
}
.advise1{
    padding: 20px;
    flex: 1;
}
.dot{
    z-index: 0;
    position: relative;
    width: 200px;
    height: 120px;
    transform: translate(-210px,-220px);
}

.client2{
    z-index: 1;
    transform: translateY(27px);
    width: 290px;
    height: 290px;
    margin-right: 15px;
    border-radius: 50% 0% 50% 50%;
}

/* NEWS LETTER - CONTACT */

.container7 {
    margin: 20px auto;
    position:relative;
    min-height: 450px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter{
    z-index: 2;
    margin: 50px;
    position: relative;
    max-height: 300px;
    width: 1600px;
    background-color: rgba(244, 249, 255, 1);
    border-radius: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hoja{
    z-index: 0;
    position: relative;
    width: 200px;
    height: 140px;
    background: rgba(255, 245, 219, 1);
    border-radius: 0% 50%;
    transform: translate(70px,-280px) ;
}

.contact{
    z-index: 2;
    position: relative;
    width: 540px;
    height: 300px;
    background: rgba(38, 57, 237, 1);
    border-radius: 30% 15% 15% 45%;
    display: flex;
    align-items: center;
}

.dott2{
    z-index: 1;
    position: relative;
    width: 200px;
    height: 120px;
    transform: translate(1150px,-440px);
}

.textinNews{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.textinNews>h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.newsletter>.contact>.btncontact>button{
    width: 200px;
    max-height: 65px;
    background-color: rgba(38,57,237,1);
    border-radius: 60px;
    color: white;
    font-family: 'Montserrat';
    font-size: 17px;
    letter-spacing: 6.5%;
    font-weight:600;
    padding: 15px;
    transform: translate(-209px,10px);
    border: 2px solid rgba(38, 57, 237, 1); 
}

.newsletter>.contact>.btncontact>button:hover{
    background-color: rgb(124, 124, 208);
    font-weight: bolder;
    transition: 0.3s;
}


.newsletter>.contact>.btncontact>input{
    height: 75px;
    width: 460px;
    border-radius: 60px;
    border: 2px solid white;
    background-color: white;
    padding: 12px;
}

.btncontact{
    display: flex;
    transform: translate(-40px);
}

.newsletter>.btncontact>button{
    z-index: 2;
    position: relative;
}


/* LAST SECTION FOOTER */

.header2{
    margin: 0px 0px auto;
    max-width: 100%;
    min-height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 35px;
    transform: translateY(-100px);
}

.header2>ul>li {
    font-size: 22px;
    line-height: 30px;
}
.header2 > ul > li:nth-child(1) {
    width: 265px;
}
.header2 > ul > li:nth-child(2) {
    width: 225px;
}
.header2 > ul > li:nth-child(3) {
    width: 160px;
}

.header2>a{
    width: 300px;
}
.header2>ul {
    text-align: left;
}

.header2 span {
    font-weight: bolder;
}

.footer{
    margin: 0px 20px auto;
    max-width: 100%;
    min-height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    transform: translateY(-100px);
}

.footer>ul{
    gap: 135px;
}
.footer>.content1>p{
    width: 300px;
}
.last-li{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}
.logoFooter1,.logoFooter2,
.logoFooter3 {
    width: 25px;
}

.logos{
    cursor: pointer;
    display: flex;
    gap: 15px;
}

hr{
    width: 90%;
    color: #888;
}

.copyright{
    display: flex;
    flex-direction:column ;
    gap: 20;
    align-items: center;
    justify-content: center;
}

.copyright>p {
    color: #888;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .logo {
        font-family: 'Montserrat';
        font-size: 13px;
    }
    p{
        font-size: 12px;
    }
    .header>ul>li>a{
        font-size: 12px;
    }
    .header a {
        padding: 0;
    }
    .container2 {
        flex-direction: column;
        align-items: center;
        min-height: unset;
        justify-content: center;
    }
    .container3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: unset;
    }

    .news {
        max-width: 100%;
        align-items: center;
    }
    .imagenes {
        position: relative;
        width: 100%;
        height: 200px !important;
    }
    .img1 {
        position: absolute;
        width: 80%;
        height: 200px;
        border-bottom-left-radius: 150px; /* Adjust the value as needed */
        z-index: 1;
        float: right;
        transform: translateX(120px);
    }
    .ellipse, .rect23 {
        display: none;
    }

    .rect23 {
        transform: translate(50%, 50%);
        width: 150px;
        height: 150px;
    }    
    #openModalBtn {
        min-height: 50px;
        font-size: 15px;
        padding: 5px ;
    }

    .client {
        padding: 20px;
    }

    .container4 {
        flex-direction: column;
        min-height: min-content;
    }
        
    .rect25 {
        height: 115px;
    }
    .help{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .help .rect24, .help .group70 {
        display: none;
    }
    .aos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80%;
        max-width: 100%;
        gap: 20px;
        position: relative;
        z-index: 1;
    }

    .aosslides{
        width: 290px;
        padding: 15px;
    }
    .advise1{
        padding: 10px;
        margin-right: 15px;
    }
    .container5 {
        flex-direction: column;
    }
    .videor{
        margin: 15px;
    }
    .img71{
        display: none;
    }
    .container6{
        max-width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: 0.9fr 1.1fr;
        grid-template-rows: 100px 280px;
        gap: 10px;
    }
    .advise1 > p {
        margin-right: 80px;
    }
    .titre>h1 ,.titre>p{
        transform: translateX(-60px);
    }
    .newsletter{
        z-index: 2;
        position: relative;
        height: 180px;
        width: 800px;
        border-radius: 75px;
        flex-direction: column !important;
        margin: 10px;
    }
    .hoja {
        display: none;
    }

    .contact {
        z-index: 2;
        position: relative;
        height: 300px;
        background-color: rgba(244, 249, 255, 1);
        border-radius: 30% 15% 15% 45%;
        display: flex;
        align-items: center;
    }
    .btncontact{
        transform: unset;
    }
    .newsletter>.contact>.btncontact>button{
        width: 150px;
        font-size: 15px;
        transform: unset;
    }
    .newsletter>.contact>.btncontact>input{
        margin: 0cm;
        width: 380px;
    }
    .textinNews>h1{
        font-size: 30px;
    }
    .textinNews>h1, .textinNews>p{
        text-align: center;
    }
    .textinNews{
        margin-left: 0;
    }
    .container7{
        min-height: 280px;
    }
    .container8{
        max-height: 120px;
    }
    .footer>ul,.header2 >ul{
        display: none;
    }
    .footer{
        justify-content: center;
    }
    .logos{
        padding: 15px;
    }
    .footer>.content1>p{
        width: 100%;
    }
}


@media only screen and (max-width: 480px) {
    .burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    #navMenu {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }
    /* Show the menu when the burger is clicked */
    #navMenu.active {
        display: block;
        opacity: 1;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(74, 31, 134, 0.9);
        width: 100%;
        height: auto;
        padding: 20px;
        transition: opacity 0.5s ease;
    }

    #navMenu.active li {
        display: block;
        text-align: center;
        padding: 0px 0;
        color: antiquewhite;
    }
    
    ul {
        row-gap: 5px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header>ul>li>a {
        font-size: 12px;
        color: #fefefe;
    }

    .container2, .container3, .container4, .container5 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container2 {
        padding: 10px;
    }

    .news h1 {
        font-size: 22px;
        line-height: 40px;
    }

    .news p {
        font-size: 12px;
        line-height: 18px;
    }

    .imagenes {
        height: 180px !important;
    }

    .img1 {
        width: 100%;
        height: 180px;
        transform: translateX(0);
    }

    #openModalBtn {
        min-height: 50px;
        font-size: 13px;
        padding: 5px;
    }

    .aos {
        grid-template-columns: 1fr;
        height: 50%;
    }

    .aosslides {
        width: 100%;
        padding: 10px;
    }
    .aosslides >h2 {
        font-size: 17px;
        padding: unset;
    }
    .aosslides >p {
        font-size: 15px;
        padding: unset;
    }
    .rect28{
        height: 80px;
    }
    .advise1 {
        padding: 10px;
        margin-right: 0;
    }
    .container5 {
        padding: 5px;
        margin: 0 auto;
    }
    .videor{
        max-width: 100%;
        max-height: 220px;
        margin: 0;
    }
    .contain5{
        min-width: 90%;
    }
    .contain5>h1 {
    z-index: 1;
    transform: translate(20px,-125px);
    }

    .contain5>p{
        transform: translateY(-60px);
        padding-left: 25px;
    }
    .titre>h1 ,.titre>p{
        transform: translateX(-150px);
    }
    .client2{
        width: 150px;
        height: 150px;
    }
    .client1{
        width: 165px;
        margin-right: 0px;
    }
    .container6 {
        grid-template-rows: 100px 280px;
    }
    .newsletter {
        width: 100%;
        height: auto;
        border-radius: 30px;
        margin: 0;
    }
    .newsletter>.contact>.btncontact>input{
        margin: 0cm;
        width: 200px;
    }
    .btncontact{
        transform: translateX(110px);
    }
    .newsletter>.contact>.btncontact>button{
        width: 120px;
        font-size: 10px;
        transform: unset;
    }

    .contact {
        height: auto;
        border-radius: unset;
    }

    .textinNews h1 {
        font-size: 25px;
    }

    .textinNews>h1, .textinNews>p {
        text-align: center;
    }

    .container7 {
        min-height: 180px;
    }

    .container8 {
        max-height: 100px;
    }

    .footer {
        justify-content: center;
    }

    .logos {
        padding: 10px;
    }

    .footer>.content1>p {
        width: 100%;
    }
    #email, #username {
        width: 80%;
    }
}
